header,
nav,
main,
footer {
  max-width: 67.5rem;
  margin: auto;
}

/* START OF NAVIGATION */
#hamburgerBtn {
  display: none;
}

nav {
  position: static;
  transform: translateX(0);
  width: auto;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  div {
    display: none;
  }
  ul {
    display: flex;
    margin-left: 2%;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 0;
  }
  ul li a {
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0.6rem 1.5rem;
  }
}

// START OF CARDS
#cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  section {
    margin: 1rem;
    margin-bottom: 2.3rem;
    h2 {
      margin-bottom: 0;
      font-size: 1.26rem;
    }
    img {
      margin-right: 0.3rem;
    }
    address {
      padding-right: 0.2rem;
      margin-top: 0;
      font-size: 1rem;
    }
    a {
      padding-top: 1.3rem;
      padding-right: 0;
      padding-left: 0;
    }
  }
}
