header {
  padding: 1rem $gutter;
  h1 {
    font-size: 2rem;
  }
}

// START OF CARDS
#cards {
  section {
    grid-template-areas:
      "photo name"
      "photo address"
      "photo phone";
    grid-template-columns: 288px auto;
    column-gap: 8px;
  }
  h2 {
    margin-top: 0;
    font-size: 1.4rem;
  }
  address {
    font-size: 1.1rem;
  }
  a {
    padding-bottom: 0;
  }
}
