header {
  padding: 2rem $gutter;
  h1 {
    font-size: 2rem;
  }
}

// START OF CARDS
#cards {
  section {
    grid-template-areas:
      "photo name"
      "photo address"
      "photo phone";
    grid-template-columns: 288px auto;
    column-gap: 8px;
  }
}
