$primaryColor: #919191; // Temp //
$secondaryColor: #e2e2e2;
$fontColor: #241818;

$defaultFont: "Cinzel Decorative", serif;
$font2: "Montserrat", sans-serif;
$lightWeight: 300;
$normalWeight: 400;
$boldWeight: 700;

$gutter: 10px;
